.jw-table {
	border: #e1e0e0 1px solid;
}
.jw-table th {
	text-align: left;
	background: #f0F0F0;
	padding: 10px;
}
.jw-table td {
	border-bottom: #e1e0e0 1px solid;
	padding: 10px;
}

@media screen and (max-width: 900px) and (min-width: 550px) {
	.priority-5{
		display:none;
	}
}

@media screen and (max-width: 550px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
}

@media screen and (max-width: 300px) {
	.priority-5{
		display:none;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
	.priority-2{
		display:none;
	}

}